/*
font-family: 'Amatic SC', cursive;
font-family: 'Source Code Pro', monospace;
*/

body {
    font: 15px 'Source Code Pro', monospace;
}


h1, h2, h3, h4, h5 {
    font: 200% 'Amatic SC', cursive;
    color:turquoise;
}
h2 {
    padding-top: 25px;
}

p {
    padding-bottom: 15px;
}

.navText {
    padding-top: 5px;
    padding-bottom: 0px;
}
nav, .navbar-brand{
    font: 30px 'Amatic SC', cursive;    
}

.icon-github:before {
    content: "\eab0";
}

.text {
    padding-top: 50px;
    font-style: italic;
}

.grey {
    background: #f9f9f9;
}
.white {
    padding-bottom: 150px;
}

.footer {
    background: #333;
}

.content, iframe {
    padding-left: 5%;
    padding-right: 5%;
}

/*progressbar*/
.progress {
    margin-top: 10%;
    width: 105%;
}
.one, .two, .three, .four, .five, .six, .seven, .eight{
    position:absolute;
    margin-top:-10px;
    z-index:1;
    height:40px;
    width:40px;
    border-radius:25px;
}
.one{
    left:12.5%;
}
.two{
    left:25%;
}
.three{
    left:37.5%;
}
.four {
    left:50%;
}
.five {
    left:62.5%;
}
.six {
    left:75%;
}
.seven {
    left:87.5%;
}
.eight {
    left:100%;
}

.primary-color{
    background-color:turquoise;
}
.success-color{
    background-color:#5cb85c;
}
.danger-color{
    background-color:#d9534f;
}
.warning-color{
    background-color:#f0ad4e;
}
.info-color{
    background-color:#5bc0de;
}
.no-color{
    background-color:inherit;
}
.current {
    background-color:orange;
}

.primary-color p, .no-color p{
    margin-left: 40%;
    margin-top:5%;
    color: white;
    font-weight: bold;
    font: 30px 'Amatic SC', cursive;
}
