/*
font-family: 'Amatic SC', cursive;
font-family: 'Source Code Pro', monospace;
*/


body {
    font: 15px 'Source Code Pro', monospace;
    padding-top: 65px; 
}

h1, h2, h3, h4, h5 {
    font: 200% 'Amatic SC', cursive;
    color: #009EE8;
	font-weight: bold;
}
h2 {
    padding-top: 25px;
}

p {
    padding-bottom: 15px;
}

.navText {
    padding-top: 5px;
    padding-bottom: 0;
}

.navbar-nav > li > a {
    background-color: #222 !important;

}
nav, .navbar-brand{
    font: 30px 'Amatic SC', cursive;    
}

.icon-github:before {
    content: "\eab0";
}

.textmitglieder {
	padding-top: 150px;
	
}

.mitglied{
	font-style: italic;
	color: #009EE8;
    text-align: center;
	font: 300% 'Amatic SC';
}

.mitgliedLink{
    text-align: center;
    color: black;
    margin-top: -25px;
}

.mitgliedLink > a:link, .mitgliedLink > a:visited, .mitgliedLink > a:hover, .mitgliedLink > a:active {
    color: black;
}


@media screen and (max-width: 480px){
    .mitglied {
        padding-left: 20%;
    }
}

.text {
    padding-top: 50px;
    font-style: italic;
}

.grey {
    background: #f9f9f9;
}

.foot {
    font-size: 80%;
    background: #333;
    bottom: 0px;
}

.text-muted {
    margin-bottom: 0px;
    margin-top: 10px;
}

.content, iframe {
    padding-left: 5%;
    padding-right: 5%;
}
.site {
	padding-bottom: 5%;
}


/*progressbar*/
.progress-bar {
   border: 0px solid rgba(245, 245, 245, 1); border-radius: 15px; height: 20px;}

.progress {
    margin-top: 5%;
    width: 91%;
}
.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .future{
    position:absolute;
    margin-top:-10px;
    z-index:1;
    height:40px;
    width:40px;
    border-radius:25px;
}
.one{
    left:9%;
}
.two{
    left:18%;
}
.three{
    left:27%;
}
.four {
    left:36%;
}
.five {
    left:45%;
}
.six {
    left:54%;
}
.seven {
    left:63%;
}
.eight {
    left:72%;
}
.nine {
    left:81%;
}
.future {
    left:90%;
}


.primary-color{
    background-color:turquoise;
}
.no-color{
    background-color:inherit;
}
.current {
    background-color:orange;
}

.primary-color p, .no-color p{
    margin-left: 40%;
    margin-top:5%;
    color: white;
    font-weight: bold;
    font: 30px 'Amatic SC', cursive;
}

.imgUs {
    margin: 0 auto
}

/*fancybox*/
a.fancybox img {
        border: none;
        box-shadow: 0 1px 7px rgba(0,0,0,0.6);
        -o-transform: scale(1,1); -ms-transform: scale(1,1); -moz-transform: scale(1,1); -webkit-transform: scale(1,1); transform: scale(1,1); -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;
}
a.fancybox:hover img {
        position: relative; z-index: 999; -o-transform: scale(1.03,1.03); -ms-transform: scale(1.03,1.03); -moz-transform: scale(1.03,1.03); -webkit-transform: scale(1.03,1.03); transform: scale(1.03,1.03);
}

