#loader {
    position: fixed;
    z-index: 999;
    height: 6em;
    width: 6em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#loader:before {
    background: white;
    z-index: 999;
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#giveMeTime {
    background: white;
    z-index: 999;
    position: relative;
    width: 100%;
    height: 100%;
}

#counterKuchen {
    background: white;
    display: none;
    position: absolute;
    bottom: 25px;
    right: 25px;
    padding: 0.5rem;
    font-family: 'VT323', monospace;
    border-radius: 45px;
}

#lost {
    display: none;
    border-radius: 45px;
    text-align: center;
    justify-content: center;
    background-color: white;
    width: 100px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    padding: 1rem;
    font-family: 'VT323', monospace;
}