#loader {
    position: fixed;
    z-index: 999;
    height: 6em;
    width: 6em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#loader:before {
    background: white;
    z-index: 999;
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#giveMeTime {
    background: white;
    z-index: 999;
    position: relative;
    width: 100%;
    height: 100%;
    
}